<h1>FAVRS</h1>

<h1>Some Favrs need doing:</h1>
<ul>
  <% Favor.unselected_favors.each do |unselected_favor| %>
  <li>
    <%= link_to unselected_favor.name, unselected_favor %>
  </li>
  <% end %>
</ul>

<h1>Old Favrs</h1>
<% @favors.each do |favor|%>
<%= link_to favor.name, favor %> <br>


<% end %>
<br>
<br>
<p><%= link_to "See your page", @user %></p>
