<h1 class="text-center">FAVRS</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Undone Favrs</h2>
      <ul>
        <% Favor.unselected_favors.each do |unselected_favor| %>
        <li>
          <%= link_to unselected_favor.name, unselected_favor %>
        </li>
        <% end %>
      </ul>
    </div>

  <div class="col-4"></div>

    <div class="col">
      <h2>Old Favrs</h2>
      <ul>
        <% @favors.selected_favors.each do |favor|%>
          <li>
            <%= link_to favor.name, favor %> <br>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
<br>
<p><%= link_to "See your page", @user %></p>
