<h1>Edit Your Profile</h1>

<%= render partial: "form" %>

<%= link_to "Delete your Account", @user, method: :delete, data: {confirm: "Are you sure you want to remove your account? This action cannot be undone."} %>
