body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background: #f2f5f8;
  font-weight: 300;
}

a {
  color: rgba(255, 255, 255, 0.6);
     text-decoration: underline;

     &:hover {
       color: #aeff8b;
     }
}
